<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Missing Person Cases</title>

  <!-- BOOTSTRAP 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- APEX CHART CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.53.0/apexcharts.min.css"
    integrity="sha512-w3pXofOHrtYzBYpJwC6TzPH6SxD6HLAbT/rffdkA759nCQvYi5AHy5trNWFboZnj4xtdyK0AFMBtck9eTmwybg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- LOCAL CSS -->
  <link rel="stylesheet" href="assets/css/global.css" />
  <link rel="stylesheet" href="assets/css/sidebar.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <!-- SIDEBAR -->
  <%- include('./staples/sidebar.ejs') %>
  
   <!-- MAIN -->
   <main class="main position-absolute overflow-hidden">
    <!-- TOP CONTENT -->
    <div class="topbar bg-dark">
      <div class="d-flex align-items-center justify-content-between px-3 py-2">
        <!-- Toggle Button -->
        <div class="toggle position-relative">
          <i class="fa-solid fa-bars text-light"></i>
        </div>
        <!-- User Info -->
        <div class="d-flex align-items-center info-user gap-2">
          <div class="dropdown">
            <a class="user-profile bg-light rounded-circle d-flex align-items-center justify-content-center" href="#"
              role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user fs-4"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <a class="dropdown-item logout-btn" href="#" data-bs-toggle="modal" data-bs-target="#logout">Logout</a>
              </li>
              <hr class="m-0">
              <li><a class="dropdown-item text-secondary" href="#">Made by Crocodilo</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- SEARCH & ANNOUNCEMENT SECTION -->
      <div class="d-flex align-items-center justify-content-center bg-dark flex-column my-4 pb-4">
        <div class="title ">
          <h2 class="text-light text-center">MISSING PERSON</h2>
        </div>
        <!-- Search Form (Unmodified) -->
        <form class="w-75 position-relative" role="search">
          <input class="form-control search-input me-2" type="search" placeholder="Search patrol" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <small class="text-secondary position-absolute credits">Made by @Crocodilo</small>
        </form>
      </div>
    </div>
    <div class="container-fluid px-lg-5 px-md-3 px-sm-2 mt-5 main-content">
      <!-- TABLE -->
      <div class="container-fluid">
        <div class="container-fluid p-0">
          <div class="d-flex align-items-center justify-content-end bg-dark p-3 text-white table-header rounded-top">
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-borderless">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Area Last Seen</th>
                  <th scope="col">Date</th>
                  <th scope="col">Task Description</th>
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% mia.forEach(function (mia){ %>
                  <tr>
                    <td><%=mia.missingFullName%></td>
                    <td><%=mia.age%></td>
                    <td><%=mia.areaLastSeen%></td>
                    <td><%=mia.dateSubmitted%></td>
                    <td>
                      <span><%=mia.description%></span>
                    </td>
                    <td class="text-center">
                      <span class="status">In Progress</span>
                    </td>
                    <td class="d-flex align-items-center justify-content-center gap-2">
                      <button class="table-button btn-sm" data-bs-toggle="modal" data-bs-target="#view-modal-<%=mia.id%>">
                        <i class="fas fa-eye"></i> View
                      </button>
                    </td>
                  </tr>

                  <!-- View MODAL -->
                  <div class="modal fade" id="view-modal-<%=mia.id%>" tabindex="-1" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header border-0 d-flex justify-content-center">
                          <h1 class="modal-title fs-5 text-center fw-bold" id="">FULL DETAILS</h1>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-group mt-3">
                                <label for="incident-type">Full Name</label>
                                <input type="text" id="fullNameSOS" class="form-control" value="<%=mia.missingFullName%>" readonly>
                              </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group mt-3">
                                <label for="">Age</label>
                                <input type="text" id="ageSOS" class="form-control" value="<%=mia.age%>" readonly>
                              </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group mt-3">
                                <label for="task">Sex</label>
                                <input type="text" id="sexSOS" class="form-control" value="<%=mia.sex%>" readonly>
                              </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group mt-3">
                                <label for="incident-type">Filed By:</label>
                                <input type="text" id="dateSOS" class="form-control" value="<%=mia.filedBy%>" readonly>
                              </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group mt-3">
                                <label for="incident-type">Number of the Person who Filed it</label>
                                <input type="text" id="dateSOS" class="form-control" value="<%=mia.contactNum%>" readonly>
                              </div>
                            </div>

                            <div class="col-12">
                              <div class="form-group mt-3">
                                <label for="incident-type">Time Last Seen</label>
                                <input type="text" id="addressSOS" class="form-control" value="<%=mia.timeLastSeen%>" readonly>
                              </div>
                            </div>

                            <div class="col-12">
                              <div class="form-group mt-3">
                                <label for="incident-type">Description</label>
                                <textarea type="text" id="addressSOS" class="form-control" readonly><%=mia.description%></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer border-0 mt-5">
                          <button type="button" class="modal-button close-button" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End View -->
                <% }); %>
              </tbody>
            </table>
          </div>
          <!--TABLE PAGINATION -->
          <div class="container-fluid mt-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- View MODAL -->
    <div class="modal fade" id="view-modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header border-0 d-flex justify-content-center">
            <h1 class="modal-title fs-5 text-center fw-bold" id="">FULL DETAILS</h1>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group mt-3">
                  <!-- SELECTION BASED ON EXISTING TEAM -->
                  <label for="">Team Assign:</label>
                  <select class="form-select" name="" id="" required aria-label="Default select example">
                    <option value="" disabled selected>Select Team</option>
                    <option value="Team Alpha">Team Alpha</option>
                    <option value="Team Bravo">Team Bravo</option>
                    <option value="Team Charlie">Team Charlie</option>
                    <option value="Team Delta">Team Delta</option>
                    <option value="Others">Others</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group mt-3">
                  <label for="">Area Assign:</label>
                  <select class="form-select" name="" id="" required aria-label="Default select example">
                    <option value="" disabled selected>Select Area</option>
                    <option value="Fourth Estate">Fourth Estate</option>
                    <option value="San Antonio Valley">San Antonio Valley</option>
                    <option value="Dr. A. Santos Avenue">Dr. A. Santos Avenue</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group mt-3">
                  <label for="">Date:</label>
                  <input type="date" id="" class="form-control" value="" placeholder="Enter location" required>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group mt-3">
                  <label for="status-select">Status:</label>
                  <select class="form-select" name="status" id="status-select" required aria-label="Select item status">
                    <option value="" disabled selected>Select Status</option>
                    <option value="Preparing">Preparing</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Abandoned">Abandoned</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group mt-3">
                  <label for="">Description:</label>
                  <textarea name="" id="" class="form-control" required placeholder="Enter description.."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer border-0 mt-5">
            <button type="button" class="modal-button close-button" data-bs-dismiss="modal">Close</button>
            <button type="button" class="modal-button submit-button" disabled>View Only</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="logoutLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0 d-flex justify-content-center">
            <h1 class="modal-title fs-5 text-center fw-bold" id="">
              LOGOUT CONFIRMATION
            </h1>
          </div>
          <div class="modal-body">
            Are you sure you want to logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-button" data-bs-dismiss="modal">Close</button>
            <button type="button" class="modal-button important-button">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

  <script src="assets/JS/bootstrap.bundle.min.js"></script>
  <script src="assets/JS/jquery-3.7.1.min.js"></script>

  <!-- LOCAL SCRIPT -->
  <script type="module" src="assets/JS/main.js"></script>
  <script src="assets/JS/utilities.js"></script>

  <script>
  $('.table-button').on('click', function() {
    if ($(this).text().trim() === 'View') {
      var miaID = $(this).data('miaid'); // assuming you have data-miaid attribute in your button
      $.ajax({
        type: 'GET',
        url: '/missingCaseRead/' + miaID,
        success: function(data) {
          // update the UI to mark the MIA case as resolved
        }
      });
    }
  });

  $(document).ready(function() {
      if (window.location.search.includes('view=')) {
        var miaID = window.location.search.split('view=')[1];
        
        $('#view-modal' + miaID).modal('show');
        history.pushState({}, '', '/missingperson');

        $.ajax({
          type: 'GET',
          url: '/missingCaseRead/' + miaID,
          success: function(data) {
            // update the UI to mark the MIA case as resolved
            
          }
        });
      }
    });

  $('.view-modal').on('hidden.bs.modal', function() {
    window.location.href = window.location.href; // refresh the page
  });
    
  $('.table-button').on('click', function() {
    if ($(this).text().trim() === 'Resolve') {
      var miaID = $(this).data('miaid'); // assuming you have data-miaid attribute in your button
      if (confirm("Are you sure you want to resolve this Missing Person case?")) {
        $.ajax({
          type: 'GET',
          url: '/resolveMissing/' + miaID,
          success: function(data) {
            // update the UI to mark the MIA case as resolved
            if (data.reload) {
                  window.location.href = '/missingperson?page=' + data.page;
              }
          }
        });
      }
    }
  });
  </script>
</body>

</html>